@import './variables';

.dy{
	font-size: 16px;
	background-color: $bg;
	padding: 2rem;
	color: $white;
	text-align: center;
	width: 100%;
	input{
		max-width: 15%;
		width: 20rem;
		text-align: start;
		color: $white;
	}
}
.setup2{
	background: $bg2;
	padding: 2rem;
}